.article-wrapper {
  font-family: Inter,Helvetica Neue,Helvetica,sans-serif;
  a {
    color: $brand_yellow
  }
  hr {
    border-color: $brand_yellow;
    margin: 40px 0;
  }

  h1 {
    font-size: 40px;
    @include mobile-all {
      font-size: 28px;
    }
  }
  h2 {
    font-size: 28px;
    margin: 30px 0 15px;
    @include mobile-all {
      font-size: 24px;
    }
  }
  h3 {
    font-size: 24px;
    margin: 30px 0 15px;
    @include mobile-all {
      font-size: 20px;
    }
  }
  h4 {
    margin: 15px 0;
  }

  p {
    font-size: 17px;
    font-weight: 400;
  }
  ul {
    li {
      margin: 10px 0;
    }
  }

  figure {
    margin: 0;
  }
}
.banner {
  margin: 40px 0;
  @include mobile-all {
    margin: 20px 0;
  }
}
.article-wrapper__body-article {
  img {
    margin: 20px 0;
    max-width: 700px;
    width: 100%;
  }
}