.article-wrapper {
  font-family: Inter,Helvetica Neue,Helvetica,sans-serif;
  a {
    color: $brand_yellow
  }
  hr {
    border-color: $brand_yellow;
    margin: 40px 0;
  }

  h2 {
    font-size: 48px;
    @include mobile-all {
      font-size: 36px;
    }
  }
  h3 {
    font-size: 32px;
    margin: 15px 0;
    @include mobile-all {
      font-size: 24px;
    }
  }
  h4 {
    margin: 15px 0;
  }

  p {
    font-size: 16px;
    font-weight: 400;
  }


}

.article-wrapper__body-article {
  img {
    margin: 20px 0;
    max-width: 700px;
    width: 100%;
  }
}