@import "./media";
@import "./colors";
@import "./ui";
@import "./animation";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');


@font-face {
  font-family: 'DUERRA';
  src: url('assets/fonts/Duera-NormBold-PERSONAL.ttf');
}

@font-face {
  font-family: 'AGAT';
  src: url('assets/fonts/agat-8.ttf');
}

iframe {
  border: unset
}

* {
  touch-action: manipulation;
  -ms-touch-action: manipulation;
  -webkit-touch-callout: unset;
  user-select: none;
  -webkit-user-select: none;
}
p {
  margin: 0;
}
.copied {
  font-size: 16px;
  font-weight: 600;
  color: rgba(128, 128, 128, 0.55);

  @include mobile {
    font-size: 13px;
  }
}
.one {
  font-size: 80px;
  z-index: 0;
  color: white;

  &:hover {
    cursor: pointer;
  }
  @include mobile-xs {
    font-size: 50px;
    font-weight: bold;
  }
}
.fly-up {
  animation: flyOut 2s linear;
  touch-action: manipulation;
}

.badge {
  position: absolute;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 700;
  opacity: 0;
  transition: 0.5s;
  @include mobile-all {
    padding: 0 15px !important;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh !important;
  }
}

.show {
  opacity: 1;
}


.router-link-active {
  border-bottom-color: $brand_yellow !important;
}