.button__main {
  border-radius: 20px;
}

.logo {
  border-radius: 50%;
}

.yellow, .yellow-text {
  color: $brand_yellow
}
.blue-text {
  color: $blue
}
.purple-text {
  color: $purple
}

.wrapper {
  user-select: none;
  touch-action: manipulation;
  cursor: default;
  min-height: 100vh;
  position: relative;
  width: 100%;
  @include mobile {
    padding-top: unset;
  }
}